header {
    text-align: center;
    margin-bottom: 5em;
}

header img {
    width: 6%;
    height: auto;
}
label {display: block;
    padding-bottom: 0.5em;}

textarea { width: 90%; height: 200px; border-radius: 0.5em; resize: none; }

input[type="submit"] { 
    margin-top: 1em; 
    padding: 8px 12px; 
    border-radius: 0.5em; 
}

#nickname { padding: 0.5em 1em; border-radius: 0.25em; margin: 0.5em 0 1em 0; }

.messages h2 { margin-bottom: 1em; }

.button {
    background-color:#BFAFA6 ;
    display: block;
    color: white;
    text-align: center;
}
